body{
    background-color:#C3DBD5;
    z-index: 1;
    overflow-y: scroll;
}
/* Home */
.containerGeneral{
    width: 100%;
    height: 1000px;
}

.containerIconGift {
    background-color: #9CB795;
    width: 80%;
    height: 27%;
    margin-top: 15%;
    margin-left: 10%;
    z-index: 2;
}

.imgGift {
    width: 30%;
    height: 99%;
    margin-left: 57%;
}

.containerLogin {
    background: rgba(117, 111, 129, 0.74);
    width: 25%;
    z-index: 3;
    margin-top: -28%;
    margin-left: 21%;
    height: 52%;
}

.containerBoxGreen {
    width: 24%;
    height: 14%;
    background-color: transparent;
    margin-top: -1%;
    margin-left: 36%;
}
.boxGreen{
    width: 100%;
    height: 100%;

}

.IngFacebook {
    width: 17%;
    height: 10%;
    background-color: transparent;
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 2%;
}

.iconFacebook {
    width: 132%;
    height: 102%;
    margin-left: -16%;
    margin-top: -2%;
}

.IngGoogle {
    width: 17%;
    height: 10%;
    background-color: transparent;
    border-radius: 50%;
    margin-top: 9%;
    margin-left: 17%;
}

.iconGoogle {
    width: 132%;
    height: 102%;
    margin-left: -15%;
    margin-top: -3%;
}

.ingresa {
    height: 9%;
    width: 34%;
    margin-left: 32%;
    margin-top: 6%;
    font-family: 'Solway', serif;
    font-size: 95%;
    border: none;
    border-radius: 15px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}
.ingresa:hover{
    background-color: #9CB795;;
}

.o{
    text-align: center;
}

.goRegistre{
    text-align: center;
    font-family: 'Solway', serif;
    font-size: 88%;
}
.inputHome {
    width: 93%;
    height: 5%;
    background-color: rgb(246 246 246);
    font-family: 'Solway', serif;
    margin-left: 2%;
    margin-top: 10%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
button{
    width: 30%;
    height: 30%;
    border-radius: 10%;
    font-family: 'Solway', serif, #fff;

}

header{
    font-family: 'Sofia', cursive;
}

h1 {
    font-family: 'Sofia', cursive;
    font-size: 40px;
    margin-left: 31%;
    color: white;
}

.slogan {
    font-family: 'Solway', serif;
    margin-top: -8%;
    font-size: 111%;
    margin-left: 13%;
}

.wallContainer {
    background-color: transparent;
    display: grid;
    grid-template-columns: 15% 30% 10% 30% max-content;
    grid-template-rows: 50px 668px 50px;
}
    
.header {
    background-color: #398C6E;
    }

    
.postFull {
    background-color: transparent;
    grid-column: 2/5;
    grid-row: 2/2;
    
    }

.containerBoxGreenOne{
    width: 6%;
    height: 14%;
    background-color: transparent;
    margin-top: -10%;
    margin-left: 4%;
}

.boxGreenOne{
    width: 100%;
    height: 100%;

}

h2 {
    font-family: 'Sofia', cursive;
    font-size: 33px;
    margin-left: 13%;
    color: white;
}
.containerButton {
    width: 30%;
    height: 15%;
    margin-left: 46%;
    margin-top: 1%;
    background-color: chartreuse;
}

.buttonLogOut{
    width: 100%;
    height: 100%;
}

h3 {
    font-family: 'Solway', serif;
    font-size: 14px;
    margin-left: 13%;
    color: white;
    margin-top: -3%;
}

.divComments {
    width: 100%;
    height: 35%;
    background-color: #398c6e;
    padding: 0%;
    border: solid black;
    border-radius: 4%;
}

.IconoProfile {
    height: 10%;
    width: 15%;
    margin-left: 85%;
}
   
.Bar {
    height:30px;
    width: 30px;    
}

.idPost{
    display: flex;
    justify-content: space-around;
        
}

.photoId{
    height:80px;
    width: 80px; 
    border-radius: 50%;  
}
.nameId{
    font-family: 'Sofia', cursive;
    font-size: 20px;
}
.dateId{
    font-family: 'Sofia', cursive;
    font-size: 15px;
}
.postId {
    display: flex;
    background-color: bisque;
    width: 90%;
    height: 30%;
    margin-left: 5%;
}
.likesId{
    display: flex;
}
.commentId{
    display: flex;
}
.comentarPost{
    width: 9%;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-left: 3%;
    cursor: pointer;
}
.option {
    width:4%;
  }
  
  .option:hover, .option:focus {
    background-color: #C4CDC2;
  }
  
  .pointThree {
    position: relative;
    display: inline-block;
  }   

.windowContent{
    display: none;
    position: static;
    left: 75%;
    top: 32%;
    /* background-image:url(./Assets/burbuja.png); */
    /* background-size: 67px; */
    /* background-repeat: no-repeat; */
    /* min-width: 85px; */
    /* height: 78px; */
    z-index: 1;
}
.openOption {display: block;}

/* .cerrar {display: none;} */

/* .editModal {display: block;} */



/*pantalla de registro*/
.containerSignUp {
background-color:rgba(117, 111, 129, 0.74);
width: 55%;
height: 80%;
margin-left: auto;
margin-right: auto;
}

.imgSign {
    width: 24%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: -2%;
}

.pointSignUp {
    width: 70%;
    height: 5%;
    background-color: rgb(246 246 246);
    font-family: 'Solway', serif;
    margin-left: 13%;
    margin-top: 1vh;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 2%;
}


.fnick {
    font-family: 'Solway', serif;
    color: black;
    font-size: 15px;
    margin-left: 14%;
    margin-top: 42vh;
}

.singUpForm {
    height: 50%;
    width: 100%;
    margin-top: 7%;
}
.buttonSignUp{
    display: block;
    margin: auto;
    font-family: 'Solway', serif;
    color: black;
    padding: 3%;
    border: none;
    border-radius: 15px;
    font-size: 95%;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}

.buttonSignUp:hover{
    background-color: #C3DBD5;
}

.footerSignUp{
    background-color:rgba(117, 111, 129, 0.74);
    font-family: 'Solway', serif;
    font-size: 100%;
    width: 100%;
    height: 20%;
    color: white;
    cursor: pointer;       
}

.texSignUp{
text-align: center;
}
.heartIcon {
    width: 8%;
    height: auto;
    margin-left: 122%;
    margin-top: 1%;
}



@media only screen and (device-width: 768px) {
    body{
        background-color:#C3DBD5;
        z-index: 1;
        overflow-y: scroll;
    }
    .containerGeneral{
        width: 100%;
        height: 1000px;
    }
    
    .containerIconGift {
        background-color: #9CB795;
        width: 92%;
        height: 27%;
        margin-top: 37%;
        margin-left: 4%;
        z-index: 2;
    }
    
    .imgGift {
        width: 39%;
        height: 99%;
        margin-left: 57%;
    }
    
    .containerLogin {
        background: rgba(117, 111, 129, 0.74);
        width: 40%;
        z-index: 3;
        margin-top: -54%;
        margin-left: 9%;
        height: 50%;
        
    }
    
    .containerBoxGreen {
        width: 24%;
        height: 14%;
        background-color: transparent;
        margin-top: -1%;
        margin-left: 36%;
    }
    .boxGreen{
        width: 100%;
        height: 100%;
    
    }
    
    .IngFacebook {
        width: 17%;
        height: 10%;
        background-color: transparent;
        border-radius: 50%;
        margin-left: 26%;
    }
    
    .iconFacebook {
        width: 132%;
        height: 102%;
        margin-left: -16%;
        margin-top: -2%;
    }
    
    .IngGoogle {
        width: 17%;
        height: 10%;
        background-color: transparent;
        border-radius: 50%;
        margin-top: 9%;
        margin-left: 17%;
    }
    
    .iconGoogle {
        width: 132%;
        height: 102%;
        margin-left: -15%;
        margin-top: -3%;
    }
    
    .ingresa {
        height: 12%;
        width: 35%;
        margin-left: 3%;
        margin-top: 6%;
    }
    
    .Registro {
        height: 12%;
        width: 35%;
        margin-left: 13%;
    }
    input {
        width: 93%;
        height: 5%;
        background-color: rgb(246 246 246);
        font-family: 'Solway', serif;
        margin-left: 2%;
        margin-top: 10%;
    }
    button{
        width: 30%;
        height: 30%;
        border-radius: 10%;
        font-family: 'Solway', serif, #fff;
    
    }
    
    header{
        font-family: 'Sofia', cursive;
    }
    
    h1 {
        font-family: 'Sofia', cursive;
        font-size: 40px;
        margin-left: 31%;
        color: white;
    }
    
    .slogan {
        font-family: 'Solway', serif;
        margin-top: -8%;
        font-size: 111%;
        margin-left: 13%;
    }
    
    .wallContainer {
        background-color: #C3DBD5;
        display: grid;
        grid-template-columns: 15% 30% 10% 30% max-content;
        grid-template-rows: 50px 668px 50px;
    }
        
    .header {
        background-color: #398C6E;
        }
    
        
    .postFull {
        background-color: transparent;
        grid-column: 2/5;
         grid-row: 2/2;
        }
    
    .containerBoxGreenOne{
        width: 6%;
        height: 14%;
        background-color: transparent;
        margin-top: -10%;
        margin-left: 4%;
    }
    
    .boxGreenOne{
        width: 100%;
        height: 100%;
    
    }
    
    h2 {
        font-family: 'Sofia', cursive;
        font-size: 33px;
        margin-left: 13%;
        color: white;
    }
    .containerButton {
        width: 30%;
        height: 15%;
        margin-left: 46%;
        margin-top: 1%;
        background-color: chartreuse;
    }
    
    .buttonLogOut{
        width: 100%;
        height: 100%;
    }
    
    h3 {
        font-family: 'Solway', serif;
        font-size: 14px;
        margin-left: 13%;
        color: white;
        margin-top: -3%;
    }
    
    .divComments {
        width: 100%;
        height: 35%;
        background-color: #398c6e;
        padding: 0%;
        border: solid black;
        border-radius: 4%;
    }
    
    .IconoProfile {
        height: 10%;
        width: 15%;
        margin-left: 85%;
    }
       
    .Bar {
        height:30px;
        width: 30px;    
    }
    
    .idPost{
        display: flex;
        justify-content: space-around;
            
    }
    
    .photoId{
        height:80px;
        width: 80px; 
        border-radius: 50%;  
    }
    .nameId{
        font-family: 'Sofia', cursive;
        font-size: 20px;
    }
    .dateId{
        font-family: 'Sofia', cursive;
        font-size: 15px;
    }
    .postId {
        display: flex;
        background-color: bisque;
        width: 90%;
        height: 30%;
        margin-left: 5%;
    }
    .likesId{
        display: flex;
    }
    .commentId{
        display: flex;
    }
    .comentarPost{
        width: 9%;
        justify-content: center;
        align-items: center;
        margin-top: 1%;
        margin-left: 3%;
        cursor: pointer;
    }
    .option {
        width:4%;
      }
      
      .option:hover, .option:focus {
        background-color: #C4CDC2;
      }
      
      .pointThree {
        position: relative;
        display: inline-block;
      }   
    
    .windowContent{
        display: none;
        position: absolute;
        left: 75%;
        top: 32%;
        background-image:url(./Assets/burbuja.png);
        background-size: 67px;
        background-repeat: no-repeat;
        min-width: 85px;
        height: 78px;
        overflow: auto;
        z-index: 1;
    }
    .openOption {display: block;
    }
    };

