body{
    background-color:#C3DBD5;
    z-index: 1;
    overflow-y: scroll;
}
.containerGeneral{
    width: 100%;
    height: 1000px;
}

.containerIconGift {
    background-color: #9CB795;
    width: 92%;
    height: 27%;
    margin-top: 37%;
    margin-left: 4%;
    z-index: 2;
}

.imgGift {
    width: 39%;
    height: 99%;
    margin-left: 57%;
}

.containerLogin {
    background: rgba(117, 111, 129, 0.74);
    width: 40%;
    z-index: 3;
    margin-top: -54%;
    margin-left: 9%;
    height: 50%;
    
}

.containerBoxGreen {
    width: 24%;
    height: 14%;
    background-color: transparent;
    margin-top: -1%;
    margin-left: 36%;
}
.boxGreen{
    width: 100%;
    height: 100%;

}

.IngFacebook {
    width: 17%;
    height: 10%;
    background-color: transparent;
    border-radius: 50%;
    margin-left: 26%;
}

.iconFacebook {
    width: 132%;
    height: 102%;
    margin-left: -16%;
    margin-top: -2%;
}

.IngGoogle {
    width: 17%;
    height: 10%;
    background-color: transparent;
    border-radius: 50%;
    margin-top: 9%;
    margin-left: 17%;
}

.iconGoogle {
    width: 132%;
    height: 102%;
    margin-left: -15%;
    margin-top: -3%;
}

.ingresa {
    height: 12%;
    width: 35%;
    margin-left: 3%;
    margin-top: 6%;
}

.Registro {
    height: 12%;
    width: 35%;
    margin-left: 13%;
}
input {
    width: 93%;
    height: 5%;
    background-color: rgb(246 246 246);
    font-family: 'Solway', serif;
    margin-left: 2%;
    margin-top: 10%;
}
button{
    width: 30%;
    height: 30%;
    border-radius: 10%;
    font-family: 'Solway', serif, #fff;

}

header{
    font-family: 'Sofia', cursive;
}

h1 {
    font-family: 'Sofia', cursive;
    font-size: 40px;
    margin-left: 31%;
    color: white;
}

.slogan {
    font-family: 'Solway', serif;
    margin-top: -8%;
    font-size: 111%;
    margin-left: 13%;
}

.wallContainer {
    background-color: #C3DBD5;
    display: grid;
    grid-template-columns: 15% 30% 10% 30% max-content;
    grid-template-rows: 50px 668px 50px;
}
    
.header {
    background-color: #398C6E;
    }

    
.postFull {
    background-color: lightgoldenrodyellow;
    grid-column: 2/5;
    grid-row: 2/2;
    
    }

.containerBoxGreenOne{
    width: 6%;
    height: 14%;
    background-color: transparent;
    margin-top: -10%;
    margin-left: 4%;
}

.boxGreenOne{
    width: 100%;
    height: 100%;

}

h2 {
    font-family: 'Sofia', cursive;
    font-size: 33px;
    margin-left: 13%;
    color: white;
}
.containerButton {
    width: 30%;
    height: 15%;
    margin-left: 46%;
    margin-top: 1%;
    background-color: chartreuse;
}

.buttonLogOut{
    width: 100%;
    height: 100%;
}

h3 {
    font-family: 'Solway', serif;
    font-size: 14px;
    margin-left: 13%;
    color: white;
    margin-top: -3%;
}

.divComments{
    width: 100%;
    height: 35%;
    background-color: coral;
    padding: 0%;
    border: solid black;
    
}

.IconoProfile {
    height: 10%;
    width: 15%;
    margin-left: 85%;
}
   
.Bar {
    height:30px;
    width: 30px;    
}

.idPost{
    display: flex;
    justify-content: space-around;
        
}

.photoId{
    height:80px;
    width: 80px; 
    border-radius: 50%;  
}
.nameId{
    font-family: 'Sofia', cursive;
    font-size: 20px;
}
.dateId{
    font-family: 'Sofia', cursive;
    font-size: 15px;
}
.postId{
    display: flex;
    background-color: bisque;
    width: 100%;
    height: 30%;
}
.likesId{
    display: flex;
}
.commentId{
    display: flex;
}
.comentarPost{
    width: 9%;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-left: 3%;
    cursor: pointer;
}
.option {
    width:4%;
  }
  
  .option:hover, .option:focus {
    background-color: #C4CDC2;
  }
  
  .pointThree {
    position: relative;
    display: inline-block;
  }   

.windowContent{
    display: none;
    position: absolute;
    left: 75%;
    top: 32%;
    background-image:url(./Assets/burbuja.png);
    background-size: 67px;
    background-repeat: no-repeat;
    min-width: 85px;
    height: 78px;
    overflow: auto;
    z-index: 1;
}
.openOption {display: block;}


